header {
  background-color: #0D2C54;
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
font-family: Arial, sans-serif;
background-color: #0D2C54;
color: white;
}

.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.left-section {
flex: 1;
padding: 2rem;
position: relative;
}

.laptop-container {
position: relative;
}

.laptop-image {
width: 950px;
height: 600px;
}

.laptop-text {
position: absolute;
top: 80%;
left: 40%;
transform: translate(-50%, -50%);
font-size: 5rem;
color: white;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.right-section {
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
padding: 2rem;
}

.profile-image {
margin-bottom: 1.5rem;
}

.profile-picture {
width: 200px;
height: 290px;
border-radius: 50%;
object-fit: cover;
}

.profile-info {
text-align: center;
}

.role {
font-size: 1.2rem;
margin-bottom: 0.5rem;
}

.email {
font-size: 1rem;
margin-bottom: 1rem;
}

.social-links {
display: flex;
justify-content: center;
margin-bottom: 1rem;
}

.social-icon {
width: 30px;
height: 30px;
margin: 0 0.5rem;
}

.download-cv-btn {
background-color: #0D2C54;
color: white;
border: 2px solid white;
padding: 0.5rem 1rem;
font-size: 1rem;
cursor: pointer;
transition: background-color 0.3s;
}

.download-cv-btn:hover {
background-color: white;
color: #0D2C54;
}

