* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0D2C54;
  color: white;
}

header {
  background-color: #0D2C54;
  padding: 1rem;
}

/* Navigation bar */
/* Navigation bar */
header nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
    margin-left: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0;
  border-radius: 10px;
  transition: background-color 0.3s;
  margin: 0 0.25rem; /* Added space between navigation items */
  border: 1px dashed yellow; /* Add border */
  padding: 0.1rem 0.7rem; /* Adjust padding on hover */

}

header nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left : 20rem;
  margin-bottom : 7rem;

}

.profile-image {
  display: flex;
  margin-left : -45rem;
  margin-bottom: -10rem;
  margin-top: 5rem;
  margin-right: -10rem;

}

.profile-details {
  margin-left : -15rem;
  margin-top: -5.5rem;
  margin-right: -15rem;

}

.profile-picture {
  display: flex;
  width: 250px;
  height: 290px;
  border-radius: 50%;
  object-fit: cover;
  transform-style: preserve-3d;

}

.profile-image:hover .profile-picture {

    transform: rotateX(180deg);
  }

.role {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.email {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
}

.download-cv-btn {
  background-color: #0D2C54;
  color: white;
  border: 2px solid white;
  padding: 1rem 3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-cv-btn:hover {
  background-color: yellow;
  color: #0D2C54;
}


.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}

.project {
  width: 30%;
  margin-bottom: 30px;
  margin-left: 2rem;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #333;
}

#education {
  font-family: "Courier New", sans-serif;
  padding: 50px;
  background-color: #0D2C54;

}

.education-container {
  display: flex;
  justify-content: space-between;
  color : green;
}

.education-item {
  width: 45%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color : yellow;
}


#skills {
  font-family: "Courier New", sans-serif;
  padding: 50px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-item {
  width: 30%;
  margin-bottom: 30px;
  padding: 20px;
  background-color : grey;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color : white;

}

/* About Section */
#about {
  font-family: "Courier New", sans-serif;
  font-size: 18pt;
  padding: 50px;
  background-color: #0D2C54;
}

.about-container {
  display: flex;
  justify-content: center;
  padding : 0;
}

.about-item {
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #333;
}

/* Contact Section */
#contact {
  font-family: "Courier New", sans-serif;
  font-size: 18pt;
  padding: 50px;
}

.contact-container {
  display: flex;
  justify-content: center;
}

.contact-item-1 {
  text-align: center;
  margin-left: -5rem;
  color: #333;
}

.contact-item-2 {
  width: 50%;
  padding: 20px;
  margin-left: 5rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #333;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
